<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>sr03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WelcomPage</servlet-name>
    <servlet-class>com.sr03.WelcomPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.sr03.Connexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.sr03.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WelcomPage</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LandingAdmin</servlet-name>
    <servlet-class>com.sr03.admin.LandingAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LandingAdmin</servlet-name>
    <url-pattern>/admin/landing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionQuestionnaire</servlet-name>
    <servlet-class>com.sr03.admin.GestionQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionQuestionnaire</servlet-name>
    <url-pattern>/admin/gestionQuestionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionQuestion</servlet-name>
    <servlet-class>com.sr03.admin.GestionQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionQuestion</servlet-name>
    <url-pattern>/admin/gestionQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionReponse</servlet-name>
    <servlet-class>com.sr03.admin.GestionReponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionReponse</servlet-name>
    <url-pattern>/admin/gestionReponse</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GestionResultat</servlet-name>
    <servlet-class>com.sr03.admin.GestionResultat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionResultat</servlet-name>
    <url-pattern>/admin/resultat</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>AjaxParcoursDoneAdmin</servlet-name>
    <servlet-class>com.sr03.admin.AjaxParcoursDoneAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxParcoursDoneAdmin</servlet-name>
    <url-pattern>/admin/parcoursDone</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>LandingStagiaire</servlet-name>
    <servlet-class>com.sr03.stagiaire.LandingStagiaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LandingStagiaire</servlet-name>
    <url-pattern>/stagiaire/landing</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>DetailsParcours</servlet-name>
    <servlet-class>com.sr03.stagiaire.DetailsParcours</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsParcours</servlet-name>
    <url-pattern>/stagiaire/landing/parcoursdetails</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AccueilQuestionnaire</servlet-name>
    <servlet-class>com.sr03.stagiaire.AccueilQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilQuestionnaire</servlet-name>
    <url-pattern>/stagiaire/landing/accueilQuestionnaire</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QuestionToDisplay</servlet-name>
    <servlet-class>com.sr03.stagiaire.QuestionToDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionToDisplay</servlet-name>
    <url-pattern>/stagiaire/question</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ValidationQuestionnaire</servlet-name>
    <servlet-class>com.sr03.stagiaire.ValidationQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationQuestionnaire</servlet-name>
    <url-pattern>/stagiaire/validation</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AjaxCallSearch</servlet-name>
    <servlet-class>com.sr03.stagiaire.AjaxCallSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCallSearch</servlet-name>
    <url-pattern>/stagiaire/ajax</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AjaxRanking</servlet-name>
    <servlet-class>com.sr03.stagiaire.AjaxRanking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxRanking</servlet-name>
    <url-pattern>/stagiaire/ranking</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>AjaxParcoursDone</servlet-name>
    <servlet-class>com.sr03.stagiaire.AjaxParcoursDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxParcoursDone</servlet-name>
    <url-pattern>/stagiaire/parcoursDone</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AjaxParcoursNotDone</servlet-name>
    <servlet-class>com.sr03.stagiaire.AjaxParcoursNotDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxParcoursNotDone</servlet-name>
    <url-pattern>/stagiaire/parcoursNotDone</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>RestrictionFilterAdmin</filter-name>
    <filter-class>com.sr03.filters.RestrictionFilterAdmin</filter-class>
  </filter>
  <filter>
    <filter-name>RestrictionFilterStagiaire</filter-name>
    <filter-class>com.sr03.filters.RestrictionFilterStagiaire</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionFilterAdmin</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RestrictionFilterStagiaire</filter-name>
    <url-pattern>/stagiaire/*</url-pattern>
  </filter-mapping>
</web-app>